<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <title>{% block title%}{% endblock %}</title>
</head>
<body class="text-bg-dark">
<header class="p-3 text-head">
<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
    </a>
        <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

            <a class="nav-link px-2 text-secondary" href="/">Главная</a>
            <a class="nav-link px-2 text-white" href="create_application">Создание заявки</a>
            <a class="nav-link px-2 text-white" href="application">Заявки</a>
            <a class="nav-link px-2 text-white" href="create_claim">Добавить картридж</a>
            <a class="nav-link px-2 text-white" href="claim">Картриджи</a>
            <a class="nav-link px-2 text-white" href="qr_code">qr</a>
        </ul>
        </nav>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="GET">
      <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search" name ="q" value="{{ request.args.get('q', '') }}">
    </form>
    <div class="text-end">
       <button type="button" class="btn btn-outline-light me-2">Search</button>
    </div>

  </div>
</div>
</header>
{% block body%}{% endblock %}
</body>
</html>